body {
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: Arial;
}

.modal {
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  position: fixed;
  backdrop-filter: blur(4px);
}

.pop {
  position: absolute;
  display: none;
  z-index: 2;
}

@font-face {
  font-family: "OnePiece";
  src: url("./font/onepiece.ttf")
}

@font-face {
  font-family: "SuperSmash";
  src: url("./font/supersmash.ttf")
}

@font-face {
  font-family: "Sayan";
  src: url("./font/sayan.ttf")
}

header {
  width: 100%;
}

h1 {
  font-family: SuperSmash;
  font-size: clamp(20px ,3.1vw, 40px);
}

header img {
  width: 100px;
  height: auto;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 5px;
  border: white solid 1px;
  padding: 10px 0px 0px 0px;
  margin: 20px 10px 20px 10px; 
  /*max-width: 80vw;*/
}.card img {
  height: 44.44vh;
  margin-bottom: 0px;
}.card button {
  width: 100%;
  background-color: white;
  border: none;
  padding: 5px;
  font-size: 22px;
  margin-top: 5px;
  font-family: Arial;
  cursor: pointer;
}

.card-informacoes {
  /*background-color: rgb(41, 41, 41);*/
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  min-width: 320px;
  color: white;
}.card-informacoes h1 {margin-top: 0; font-size: 40px;}
.card-informacoes img {height: 70px; margin-bottom: 30px}
.card-informacoes p {margin: 10px;}