@font-face {
  font-family: "OnePiece";
  src: url("./font/onepiece.ttf")
}

@font-face {
  font-family: "SuperSmash";
  src: url("./font/supersmash.ttf")
}

@font-face {
  font-family: "Sayan";
  src: url("./font/sayan.ttf")
}

* {
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  margin: 0;
  font-family: Arial;
}

.newChars {
  display: grid;
  align-items: center;
  justify-content: center;
}

.modal {
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  position: fixed;
  backdrop-filter: blur(4px);
}

.pop {
  position: fixed;
  display: none;
  background-color: white;
  border-radius: 5px;
  color: black;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px;
}header img {
  width: 80px;
  height: auto;
  margin: 0 auto;
} header ul { margin-top: 10px; display: none;}
header li {font-size: 1vw}
header li:hover {
  border-bottom: white solid 1px;
}

@media (min-width:800px) {
  header ul {
    display: flex;
  }
  header img {
    margin: 0;
  }
}



/*-------------------------HOME----------------------------*/

h1 {
  font-family: SuperSmash;
  font-size: clamp(20px ,3.1vw, 40px);
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-right: 45px;
  display: flex;
  align-items: center;
  width: 100%;
}li {cursor: pointer;  padding: 10px; border: black solid 2px; width: 100%; font-family: SuperSmash; font-weight: 500;}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  padding: 0px 10px 5px 10px;
  background-image: linear-gradient(black, rgb(15, 83, 15));
  height: 90vh;
}.home h1{margin-bottom: 0;}
.home p {max-width: 600px;}
.home img {width: 31.25vw; transition: 500ms; min-width: 300px;}
/*.home img:hover {transform: scale(1.05) perspective(2000px) rotateZ(5deg);}*/
.home button {
  width: 50%;
  color: white;
  background-color: black;
  border: white solid 1px;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  margin: 10px;
  margin-top: 5px;
  font-family: Arial;
  cursor: pointer;
}.home button:hover {
  color: black;
  background-color: white;
}.download {background: none !important; transition: 500ms; width: 100% !important;}
.download:hover {
  background-color: black !important;
  color: white !important;
  border: black solid 1px;
}

/*-------------------------STORY----------------------------*/

.story {
  background-image: linear-gradient(rgb(15, 83, 15), black);
  padding: 50px 6.25vw 50px 6.25vw;
  text-align: left;
}.story h1 {margin: 0; text-align: center;  font-size: clamp(25px ,4vw, 50px);}
.story h2 {font-family: Smash; font-size: clamp(20px ,3vw, 30px);}
.story p {max-width: 800px; text-align: left;}
.story img {width: 19vw; height: auto; min-width: 280px; border-left: white solid 1px; padding-left: 50px;}


/*-------------------------CARD-NEWCHAR----------------------------*/

.card-NewChar {
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: white solid 1px;
  padding: 10px 0px 10px 0px;
  margin: 20px 10px 20px 10px;
  /*max-width: 80vw;*/
}.card-NewChar img {
  height: 44.44vh;
  width: auto;
  margin-bottom: 0px;
}.card-NewChar button {
  width: 90%;
  color: white;
  background-color: black;
  border: white solid 1px;
  border-radius: 5px;
  padding: 5px;
  font-size: 22px;
  margin-top: 5px;
  font-family: Arial;
  cursor: pointer;
}.card-NewChar button:hover {
  color: black;
  background-color: white;
}

.cardInformacoes-NewChar {
  /*background-color: rgb(41, 41, 41);*/
  max-width: 500px;
  border-radius: 10px;
  padding: 10px;
  min-width: 320px;
  color: white;
}.cardInformacoes-NewChar h1 {margin-top: 0; font-size: 40px;}
.cardInformacoes-NewChar img {height: 70px; width: auto; margin-bottom: 30px}
.cardInformacoes-NewChar p {margin: 10px;}
